name: Cypress Qazando Tests
on: [push]
jobs:
    cypress-run:
        runs-on: ubuntu-latest
        strategy: 
            fail-fast: false
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Cypress run
              uses: cypress-io/github-action@v6
              with:
                record: true
              env:
                CYPRESS_RECORD_KEY: db9f9769-2dd6-4ca2-a295-fe7621cda56a